<div class="form-group">
    <textarea name="palavra" id="palavra" cols="100" 
    rows="10" autofocus class="form-control"></textarea>
    <br>
    <input id="select" placeholder="Palavra selecionada" class="form-control" readonly>
</div>

<div id="significados">
    <h1>Significados: </h1>
    <div id="definicao"></div>
</div>

<script src="js/index.js"></script>